body {
	background-color: #8fb0fa;
}

#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 68px;
	font-weight: 300;
	color: #fff;
	margin: 0px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: #fff;
	margin: 0px;
	font-style: italic;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 0px;
}

#skins {
	margin-top: 25px;
	word-spacing: 15px;
}

#ts-box {
	border: 1px solid #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 375px;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 10px;
}

a:hover {
	color: #797979;
}